h1 {
    color: white;
}

body {

}

#root {
    height: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 50vh;*/
}
.login {
    width: 359px;
    padding: 10px;
    border: inset #b31818 3px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 90vh;

}

.pokedex-wrapper {
    background-color: #8b0006;
    margin: 0 auto;
    padding: 1em;
    border-radius: 15px;
    border: double black 10px;
    display: flex;
    flex-direction: column;
}

.panel {
    width: 359px;
    padding: 10px;
    border: inset #b31818 3px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.right-panel {
    padding: 0;
    width: 379px;
}

.panel-row {
    display: flex;
    border-bottom: groove #757575 3px;
    justify-content: space-evenly;
}

.panel-row:last-child {
    border-top: groove #757575 3px;
    border-bottom: none;
}

.screen {
    background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
    padding: 5px;
    border-radius: 3px;
    font-family: "Droid Serif";
    border: inset #879a65 3px;
    font-size: 1em;
}
.pokemon-name {
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: capitalize;
    height: 45px;
    box-sizing: border-box;
}
.name-no {
    float: right;
    text-transform: lowercase;
}
.pokemon-description {
    font-size: 18px;
    letter-spacing: 0;
    min-height: 115px;
    box-sizing: border-box;
    flex: 1;
}
.pokemon-sprite {
    width: 100%;
    display: flex;
    image-rendering: pixelated;
    border: inset #9aa28b 3px;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
}
.sprite-controls {
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    margin-bottom: 10px;
}

.sprite-control {
    height: 30px;
    width: 30px;
    border: groove grey 3px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(60deg);
    color: black;
    padding: 1px;
    border-color: #b06868;
}

.sprite-control:hover {
    border-color: #b8ed7c;
}
.sprite-control:active {
    border-color: #f4fcb9;
}

.sprite-control > * {
    transform: rotate(-60deg);
}

.sprite-control-selected {
    border-color: #b8ed7c;
}


.pokemon-sprite-small {
    height: 120px;
    width: 120px;
    margin: 3px 0;
}
/* types */
.type {
    color: rgba(0, 0, 0, 0.9);
    text-transform: capitalize;
    font-size: 1.25em;
    padding: 2px;
    margin: 2px;
    border: groove #757575 3px;
    border-radius: 10px;
    width: 150px;
    font-family: monospace;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: rgba(255, 255, 255, 0.3) -1px 1px;
    align-self: center;
    background: linear-gradient(
            15deg,
            rgba(128, 128, 128, 0.5) 64%,
            rgba(138, 138, 138, 0.5) 70%,
            rgba(230, 230, 230, 0.5) 81%,
            rgba(255, 255, 255, 0.5) 86%,
            rgba(220, 220, 220, 0.5) 89%,
            rgba(230, 230, 230, 0.5) 100%
    );
    background-blend-mode: hard-light;
}
.panel-header {
    text-transform: capitalize;
    font-size: 1.25em;
    padding: 5px;
    font-family: monospace;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(14deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
    border: groove #e61515 3px;
    border-width: 3px 2px;
    text-shadow: #fd5555 -1px 1px;
}
.type-list {
    display: flex;
    flex-direction: column;
    border-left: groove #757575 3px;
    flex: 1;
}
.type-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    background: linear-gradient(14deg, #afafaf 50%, #ffffff 80%, #afafaf 90%);
    border-top: groove #757575 3px;
}
.stats {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    flex: 1;
}
.stat-line {
    font-size: 17px;
    text-transform: capitalize;
}
.panel-evo {
    flex-wrap: wrap;
}
.empty-evo {
    background: linear-gradient(15deg, #83887b 64%, #8b8f81 70%, #8b8f81 81%, #babfb1 86%, #8b8f81 89%, #8b8f81 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.evo-header {
    width: 100%;

    margin-bottom: 2px;
}
.evo-num {

    font-family: "Staatliches", cursive;
    font-size: 1.25em;
    letter-spacing: 2px;
    background: transparent;
    border: none;
    text-shadow: #e78181 -1px 1px;
}
.evo-name {
    width: auto;
    padding: 3px;
    margin-bottom: 3px;
    text-align: right;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.button {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: outset rgb(248, 187, 187) 6px;
    transform: rotate(60deg);
    background: radial-gradient(
            circle farthest-corner at 40% 25%,
            rgb(218, 237, 241) 9%,
            rgb(124, 214, 237) 20%,
            rgb(64, 90, 165) 62%,
            rgb(43, 125, 196) 100%
    );
    cursor: pointer;
}
.button:hover {
    background: radial-gradient(
            circle farthest-corner at 40% 25%,
            rgb(233, 241, 218) 9%,
            rgb(184, 237, 124) 20%,
            rgb(64, 165, 106) 62%,
            rgb(43, 196, 145) 100%
    );
}
.button:active {
    background: radial-gradient(
            circle farthest-corner at 40% 25%,
            rgb(229, 255, 181) 9%,
            rgb(204, 237, 124) 20%,
            rgb(103, 165, 64) 62%,
            rgb(66, 204, 40) 100%
    );
}
.button::after {
    border: groove #460f0f 5px;
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    left: -10px;
    top: -10px;
    opacity: 0.75;
}
.prev {
    border-right: 30px solid white;
}
.num {
    color: blue;
}
.next {
    border-left: 30px solid white;
}
.num-input {
    width: 50px;
    font-size: 20px;
    height: 30px;
    text-align: right;
    align-self: center;
}

.submit {
    width: 66px;
    height: 18px;

    border: groove #5f845e 3px;
    background-color: #5ed75e;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 3px;
    cursor: pointer;
}
.submit:hover {
    border-color: #85ec4d;
}

.normal {
    background-color: #bfbfbf;
}
.fighting {
    background-color: #d87c58;
}
.flying {
    background-color: #999ade;
}
.poison {
    background-color: #925192;
}
.ground {
    background-color: #dea761;
}
.rock {
    background-color: #897864;
}
.bug {
    background-color: #b1c967;
}
.ghost {
    background-color: #c195dc;
}
.steel {
    background-color: #49769c;
}
.fire {
    background-color: #cf1414;
}
.water {
    background-color: #1689de;
}
.grass {
    background-color: #47a047;
}
.electric {
    background-color: #e6b700;
}
.psychic {
    background-color: #fa43b8;
}
.ice {
    background-color: #98c3de;
}
.dragon {
    background-color: #89315d;
}
.dark {
    background-color: #282433;
}
.fairy {
    background-color: #dca0ce;
}
.unknown {
    background-color: #545454;
}
.shadow {
    background-color: #364163;
}

